<section class="container">
  <div *ngFor="let character of characters" class="card" (click)="alert(character.name)">
    <!-- <div class="card"> -->
      <div class="card-img">
        <img [src]="character.img" alt="{{character.name}}">
      </div>
      <div class="card-body">
        <p>{{character.name}}</p>
        <h4>Occupation</h4>
        <p *ngFor="let occupation of character.occupation">{{occupation}}</p>
        <!-- <p>{{characters[0].name}}</p> -->
      </div>
    </div>
</section>

